.game {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.blocks {
    display: flex;
    flex-flow: column nowrap;
}

.blocks-row {
    display: flex;
    flex-flow: row nowrap;
}

.block {
    @block: #a5a5a5;
    @apple: #ff6868;
    @snake-body: #a0ff69;

    display: inline-block;
    margin: 3px;
    width: 20px;
    height: 20px;

    border-radius: 3px;

    background-color: @block;

    &.apple {
        background-color: @apple;
    }

    &.snake {
        background-color: @snake-body;

        &.snake-head {
            background-color: darken(@snake-body, 25%);
        }
    }
}